name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: gestparc_db
          MYSQL_USER: admin
          MYSQL_PASSWORD: 123456
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost -uroot -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Wait for MySQL
        run: |
          echo "Waiting for MySQL to start..."
          for i in {1..10}; do
            if mysqladmin ping -h127.0.0.1 -uroot -proot --silent; then
              echo "MySQL is up!"
              break
            fi
            echo "Waiting..."
            sleep 5
          done

      - name: Build with Maven
        run: mvn -B package --file pom.xml
        env:
          SPRING_DATASOURCE_URL: jdbc:mysql://127.0.0.1:3306/gestparc_db
          SPRING_DATASOURCE_USERNAME: admin
          SPRING_DATASOURCE_PASSWORD: 123456
          
      # --- NOUVELLES ÉTAPES DOCKER POUR LE BUILD ET LE PUSH ---

      - name: Set up Docker Buildx
        if: github.ref == 'refs/heads/main'
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          # Mise à jour pour utiliser les secrets DOCKER_USERNAME et DOCKER_PASSWORD
          username: ${{ secrets.DOCKER_USERNAME }} 
          password: ${{ secrets.DOCKER_PASSWORD }}   
          
      - name: Build and push Docker image
        # Cette étape s'exécute uniquement sur la branche main
        if: github.ref == 'refs/heads/main'
        uses: docker/build-and-push-action@v5
        with:
          context: .
          push: true
          # Le tag utilise le secret DOCKER_USERNAME pour le nom d'utilisateur
          tags: ${{ secrets.DOCKER_USERNAME }}/gestparc-app:latest
          # IMPORTANT: Assurez-vous d'avoir un Dockerfile à la racine de votre projet.
          
      # -----------------------------------------------------------
